/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --heading-text: #ffc2e6;
  --hover-button: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-light.png);
  .decor {
    display: none;
  }
  .page {
    background-image: var(--bg-image);
  }
  .header__theme-menu-button {
    color: var(--text-color, #353430);
  }
  .header__theme-menu-item:hover {
    border-color: var(--text-color, #353430);
  }
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color, #353430);
  }

  .header__theme-menu-item:has(.header__theme-menu-button_active) {
    border-color: var(--text-color, #353430);
  }
  .content__title {
    color: var(--text-color, #353430);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --heading-text: #ffc2e6;
    --hover-button: rgba(255, 0, 112, 0.4);
    --box-shadow: #ff0070;
    --bg-image: url(../images/cover-image-light.png);
  }
  .page {
    background-image: var(--bg-image);
  }
  .decor {
    display: none;
  }
  .header__theme-menu-item:hover {
    border-color: var(--text-color, #353430);
  }
  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color, #353430);
  }
  .header__theme-menu-item:has(.header__theme-menu-button_active) {
    border-color: var(--text-color, #353430);
  }
  .header__theme-menu-button {
    color: var(--text-color, #353430);
  }
  .content__title {
    color: var(--text-color, #353430);
  }
}
