/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #fff1f7;
  --subtitle-color: #353430;
  --heading-title: #353430;
  --border-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --heading-text: #ffc2e6;
  --hover-button: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-light.png);
  .page {
    background-image: var(--bg-image);
    background-color: #fff1f7;
  }
  .decor {
    display: none;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    .header__title {
      color: var(--heading-text);
      text-shadow: 4px 4px 0px var(--accent-color);
    }
    .footer__title {
      color: var(--heading-text);
      text-shadow: 2px 2px 0px var(--accent-color);
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --subtitle-color: #353430;
    --heading-title: #353430;
    --border-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --heading-text: #ffc2e6;
    --hover-button: rgba(255, 0, 112, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }
  .page {
    background-image: var(--bg-image);
    background-color: #fff1f7;
  }
  .decor {
    display: none;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    .header__title {
      color: var(--heading-text);
      text-shadow: 4px 4px 0px var(--accent-color);
    }
    .footer__title {
      color: var(--heading-text);
      text-shadow: 2px 2px 0px var(--accent-color);
    }
  }
}
