/*-----------------------------------header---------------------------*/
.page {
  max-width: 1024px;
  font-family: var(--font-family, "IBM Plex mono", monospace);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  background-color: var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  margin-block-end: 60px;
  padding: 20px;
  min-block-size: 768px;
}
.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}
.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  color: var(--accent-color, #ff0070);
  font-family: var(--font-family, "IBM Plex mono", monospace);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__title {
  margin-left: -2%;
  align-self: center;
  color: var(--heading-text, #db00ff);
  font-family: var(--font-family, "IBM Plex Mono");
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--box-shadow, #ff0070);
}
.header__text {
  justify-self: flex-end;
  align-self: center;
  max-width: 50%;
  height: min-content;
  font-weight: 700;
}
/*-----------------------------------hover-effect---------------------------*/
.header__theme-menu-item {
  border: 1px solid transparent;
}

.header__theme-menu-item:hover {
  border-color: var(--accent-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border-color: var(--accent-color, #ff0070);
}
/*-----------------------------------decor---------------------------*/
.decor {
  position: absolute;
  top: 20px;
  right: 20px;
}
.decor::before {
  content: "REc";
  position: absolute;
  top: 3px;
  right: 28px;
  color: var(--accent-color, #ff0070);
  font-family: var(--font-family, "IBM Plex mono", monospace);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.decor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 9px;
  min-width: 9px;
  min-height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
}
.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
}
.text-decor {
  color: var(--bg-color, #000028);
  background-color: var(--accent-color, #ff0070);
}
/* ------------------Content------------------------------------ */
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.content__title {
  color: var(--accent-color, #ff0070);
}
.article__title {
  margin-block-end: 10px;
  font-weight: 700;
  font-size: 18px;
}
.article__text {
  color: var(--text-color, #f1b2ce);
  font-family: var(--font-family, "IBM Plex Mono");
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}
.concentrate-better__container .article__title {
  font-weight: normal;
}
.article__link {
  text-decoration: none;
  text-shadow: 3px 2px var(--accent-color, #ff0070);
}
.content__section {
  display: grid;
  grid-template-columns: 315px 1fr;
  gap: 20px;
  padding: 0px 20px;
}
.focus {
  margin-block-end: 60px;
}
.focus__container .article {
  margin-block-end: 20px;
}
.concentration {
  display: grid;
  grid-template-columns: auto;
  margin-block-end: 80px;
}
.concentration__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  grid-auto-flow: column;
  gap: 20px;
}
.concentrate-better {
  margin-block-end: 80px;
}
.concentrate-better__container {
  display: grid;
  gap: 20px;
}
/*-----------------------------------gallery---------------------------*/
.gallery {
  margin-block-end: 60px;
  padding: 0px 20px;
}
.gallery__title {
  display: block;
  margin-block-end: 20px;
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-start: 20px;
}
.gallery__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.gallery__item:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}
.gallery__item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}
.gallery__item:nth-child(4) {
  grid-row: span 1;
}
.gallery__item:nth-child(5) {
  grid-column: span 2;
}
.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-----------------------------------footer---------------------------*/
.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 768px;
}
.footer__title {
  align-self: center;
  color: var(--heading-text, #db00ff);
  font-family: var(--font-family, "IBM Plex Mono");
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--box-shadow, #ff0070);
}
/*----------------------@media for 768px-------------------*/
@media (width <= 768px) {
  .header {
    min-block-size: 1024px;
  }
  .header__theme-menu {
    justify-self: end;
    margin-block-start: 23%;
  }
  .header__title {
    font-size: 120px;
    margin-left: -3%;
  }
  .header__text {
    max-width: 364px;
  }
  .header__theme-menu-list {
    gap: 13px;
    flex-direction: column;
  }
  .content__section {
    display: grid;
    grid-template-columns: 236px auto;
    gap: 20px;
  }
  .concentration {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: row;
    gap: 20px;
  }
  .concentration .content__title {
    max-width: 256px;
  }
  .concentration__container {
    grid-template-columns: auto;
    grid-auto-flow: row;
  }
  .footer {
    min-block-size: 1024px;
  }
  .footer__title {
    font-size: 120px;
  }
}
@media (width <= 568px) {
  .header {
    min-height: 668px;
    padding: 20px 10px;
  }
  .header__text {
    max-width: 100%;
    margin-inline-end: 0;
  }
  .content__section {
    grid-template-columns: auto;
    padding: 0px 10px;
    grid-auto-flow: row;
    gap: 0px;
  }
  .gallery__list {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
  .gallery__item:nth-child(1) {
    grid-column: 1;
    grid-row: auto;
  }
  .gallery__item:nth-child(2) {
    grid-column: 1;
    grid-row: auto;
  }
  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: auto;
  }
  .gallery__item:nth-child(4) {
    grid-column: 1;
    grid-row: auto;
  }
  .gallery__item:nth-child(5) {
    grid-column: 1;
    grid-row: auto;
  }
  .footer {
    min-height: 668px;
  }
}
