:root {
  --bg-color: #000028;
  --subtitle-color: #000028;
  --heading-title: #ff0070;
  --border-color: #ff0070;
  --border-bottom: #f1b2ce;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-text: #db00ff;
  --hover-button: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --font-family: "IBM Plex Mono", monospace;
}
